<article class="main__product">
	<a href="/product/detail/<%=product.id%>/<%=product.category%> "
		><img src="products/<%=product.image%> " alt="cafetera moulinex"
	/></a>
	<div class="main__containerProduct">
		<div class="main__icon"><i class="fas fa-truck"></i></div>
		<p>$<%= product.price %></p>
		<p class="product__discount"><% if(product.discount) {%> <%=product.discount %> % off</p>

		<% }%>

		<h4 class="main__productDescription"><%= product.name %></h4>
	</div>
</article>
